body{
  overflow-x: hidden;
  height: auto;
}
.addanothercss{
    transition-duration: 1s;
}
.anothercss{
  transform: translateX(70vw);

}
.singupform{
  background: linear-gradient(180deg, #194b80, #182c55);
}